:root {
	font-family: Raleway, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-size: 1.2em;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #282a36;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 2vh 2vw;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 25vh auto 25vh;
	min-width: 280px;
	min-height: 100vh;
}
.container {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 1vh 3vw;
	width: 100%;
}
a {
	font-weight: 400;
	color: #bd93f9;
	text-decoration: inherit;
}
a:hover {
	color: #8be9fd;
}
.other-link {
	color: #ff79c6;
}

ul {
	padding: 0;
	list-style-type: none;
}

li {
	list-style-type: none;
	padding-bottom: 5px;
}

.highlight {
	font-weight: 800;
	color: #ff79c6;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

h2 {
	font-size: 1.8em;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

header {
	grid-row: 1;
	padding: 8vh 8vw 1vh 8vw;
	text-align: right;
	font-size: 1.5em;
}
main {
	grid-row: 2;
	text-align: left;
	padding: 1vh 7vw 7vh 7vw;
}

footer {
	grid-row: 3;
	text-align: right;
}

.rotating-word {
	animation: rotate-text 2s infinite;
}

@keyframes rotate-text {
	0% {
		transform: translate3d(0, 30px, 0);
		opacity: 0;
	}

	30%,
	80% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}

	100% {
		transform: translate3d(0, -10px, 0);
		opacity: 0;
	}
}
.welcome {
	grid-column-start: 1;
	grid-column-end: 2;
}

article {
	grid-column-start: 1;
	grid-column-end: 2;
}
p {
	font-size: 1.2em;
}
aside {
	grid-column-start: 1;
	grid-column-end: 2;
}

.card {
	border: #44475a;
	border-style: solid;
	border-radius: 20px;
	list-style-type: none;
	padding: 1.5em;
	margin-bottom: 1em;
}
.card-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.card-header-right {
	display: flex;
	flex-direction: row;
}
.tag {
	font-weight: 600;
	border-radius: 10px;
	padding: 8px;
	margin: 0;
	align-self: center;
}
.tag p {
	margin: 0;
	color: #1a1a1a;
}
.tech-tags {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
	margin-top: 1em;
}

.tech-tags .tag {
	background-color: #50fa7b;
	margin-right: 15px;
	margin-bottom: 10px;
	font-size: 0.75em;
}

.cards-container {
	grid-column: 1;
	max-width: 86vw;
}
.overview {
	min-width: 15vw;
	grid-column: 1 2;
}
img {
	max-width: 100%;
	border-radius: 10px;
}

section {
	grid-column: 1;
}
.section-head {
	color: #bd93f9;
	min-width: 15vw;
	grid-column: 1;
}

.logo {
	min-width: 70px;
	max-width: 70px;
	margin-right: 8px;
}
.list-container {
	display: grid;
	grid-template-columns: 50% 50%;
}

.skill {
	display: flex;
	align-items: center;
}

@media screen and (max-width: 600px) {
	:root {
		font-size: 3.5vw;
	}
	.container {
		gap: 0;
	}
	main {
		padding-left: 6vw;
		padding-right: 6vw;
	}
	h1 {
		font-size: 10vw;
	}
	h2 {
		font-size: 8vw;
		margin: 0;
	}
	.tech-tags .tag p {
		font-size: 3.2vw;
	}
	.card-header {
		display: block;
	}
	.card-header-right {
		margin: 1em 0;
	}
}

@media (min-width: 600px) {
	section {
		grid-column: 2;
	}
}

@media (min-width: 1000px) {
	article {
		grid-column: 1;
	}
	aside {
		grid-column: 2;
	}
	.cards-container {
		grid-column: 2;

		gap: 1vh 1vw;
	}
	.overview {
		grid-column: 1;
	}
}
@media (min-width: 1450px) {
	.cards-container {
		display: grid;
		grid-template-columns: 50% 50%;
	}
	.list-container {
		display: grid;
		grid-template-columns: 25% 25% 25% 25%;
	}
	.card {
		margin: 1em;
	}
	img {
		max-width: 100%;
	}
}
