:root {
	font-family: Raleway, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #282a36;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 400;
	color: #bd93f9;
	text-decoration: inherit;
}
a:hover {
	color: #8be9fd;
}

body {
	margin: 2vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 25% auto;
	min-width: 320px;
	min-height: 100vh;
}
.container {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 10px 30px;
}
h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

h2 {
	color: #bd93f9;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

header {
	grid-row: second-line;
	padding: 8vh 9vh 1vh 9vh;
	text-align: right;
	font-size: 18pt;
}
main {
	grid-row: first-line;
	text-align: left;
	padding: 1vh 9vh 8vh 9vh;
}

footer {
	grid-row: third-line;
	text-align: right;
}

.rotating-word {
	animation: rotate-text 2s infinite;
}

@keyframes rotate-text {
	0% {
		transform: translate3d(0, 30px, 0);
		opacity: 0;
	}

	30%,
	80% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}

	100% {
		transform: translate3d(0, -10px, 0);
		opacity: 0;
	}
}
.welcome {
	grid-column-start: 1;
	grid-column-end: 2;
}

article {
	grid-column-start: 1;
	grid-column-end: 2;
}
aside {
	grid-column-start: 1;
	grid-column-end: 2;
}

@media (min-width: 800px) {
	article {
		grid-column: 1;
	}
	aside {
		grid-column: 2;
	}
}

.card {
	border: #1a1a1a;
	border-style: outset;
	border-radius: 20px;
	list-style-type: none;
	padding: 2em;
	margin: 1em;
}

img {
	max-width: 100%;
	border-radius: 10px;
}
